<div class="">
    <div class="banner">
        <ul class="bannerList">

            {{#each banner}}

                <a href="{{link}}" target="_blank" style="">
                    <li class="bannerlist1" style="left: -8.5px;">
                        <img _src="{{img}}" src="{{img}}">
                    </li>
                </a>
            {{/each}}

            <!--<a href="http://zixun.kehai.com/a/zhuanti/hjb_index.html" target="_blank" style="display: none;">-->
                <!--<li class="bannerlist1" style="left: -8.5px;">-->
                    <!--<img _src="//r.kehai.com/file/loadImage/1581591843290.r" src="//r.kehai.com/file/loadImage/1581591843290.r">-->
                <!--</li>-->
            <!--</a>-->
            <!--<a href="http://zixun.kehai.com/a/zhuanti/midterm.html" target="_blank" style="display: none;">-->
                <!--<li class=" bannerlist2" style="left: -8.5px;">-->
                    <!--<img _src="//r.kehai.com/file/loadImage/1578334223155.r" src="//r.kehai.com/file/loadImage/1578334223155.r">-->
                <!--</li>-->
            <!--</a>-->
            <!--<a href="http://zixun.kehai.com/a/zhuanti/zhaomu.html" target="_blank">-->
                <!--<li class=" bannerlist3" style="left: -8.5px;">-->
                    <!--<img _src="//r.kehai.com/file/loadImage/1580571192402.r" src="//r.kehai.com/file/loadImage/1580571192402.r">-->
                <!--</li>-->
            <!--</a>-->
            <!--<a href="http://zixun.kehai.com/a/zhuanti/9.9.html" target="_blank" style="display: none;">-->
                <!--<li class=" bannerlist3" style="left: -8.5px;">-->
                    <!--<img _src="//r.kehai.com/file/loadImage/1582389792885.r" src="//r.kehai.com/file/loadImage/1582389792885.r">-->
                <!--</li>-->
            <!--</a>-->
        </ul>
        <div class="frame_12k pr">
            <a href="javascript:void(0);" class="prevBtn  hide" style="opacity: 0;"></a>
            <a href="javascript:void(0);" class="nextBtn  hide" style="opacity: 0;"></a>
        </div>
        <div class="slidernav pr">
            <div class="pa slidernav_shadow"></div>
            <ul class="slidernav_ul pa">
                <li class="" style="left: -8.5px;"></li>
                <li class="" style="left: -8.5px;"></li>
                <li class="ac" style="left: -8.5px;"></li>
                <li class="" style="left: -8.5px;"></li>
            </ul>
        </div>
    </div>
</div>