<!--底部开始-->
<div class="footer clearfix">
    <ul class="pr">
        <li>&nbsp;<a href="/site/index.htm">网站首页</a> |&nbsp;</li>
        <li><a href="/site/webBottomLink/tocompany_intro.htm">公司简介</a> |&nbsp;</li>
        <li><a href="/site/webBottomLink/toaboutUs.htm">产品简介</a> |&nbsp;</li>
        <li><a href="/site/webBottomLink/totheysettled.htm">网校入驻 </a>|&nbsp;</li>
        <li><a href="/site/reg/counselorJoin.htm">咨询师入驻 </a>|&nbsp;</li>
        <li><a href="/site/webBottomLink/tocomplaintsandsuggestions.htm">投诉与建议</a> </li>
    </ul>
    <p class="clearBoth">Copyright  2009-2016 <a href="/" style="color: #fff;">www.kehai.com</a>&nbsp;All Rights Reserved.&nbsp;&nbsp;&nbsp;&nbsp;京ICP证160315号&nbsp;&nbsp;&nbsp;<a href="http://www.miitbeian.gov.cn/state/outPortal/loginPortal.action" style="color: #fff;">京ICP备14022510号-3</a>&nbsp;&nbsp; 京公网安备 11010802017286</p>
    <p>
        <span><a href="/site/webBottomLink/tocompany_intro.htm">北京三海教育科技有限公司</a>&nbsp;&nbsp;&nbsp;&nbsp;客服电话：400-010-8383</span>
    </p>
</div>
<!--底部结束-->
</body>
</html>