<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="课海网,中小学,在线学习,一对一辅导" name="Keywords">
    <meta name="description" content="课海网是全国最专业的B2B2C互联网在线学习平台，专注于K12领域，连接培训机构、学生和家长，真正做到当周问题，当周解决，让学习更高效。">
    <link rel="icon" href="/front/dist/images/favicon.ico" type="image/x-icon">
    <title>课海网</title></head>
<body class="homePage" style="min-height: 1000px;">
<!--头部开始-->
<div class="header" id="header">
    <div class="frame_12k clearfix">
        <div class="headerL fl">
            <img src="/front/sanhai/images/headerTit.png" alt="">
        </div>
        <ul class="headerR fr">

            <li class="login">
                <a href="/site/use/login.htm?role=teaOrStu"><i class="name"></i>学生/教师登录</a>
            </li>
            <li class="login">
                <a href="/site/use/register.htm">免费注册</a>
            </li>


            <li class="li2">
                <a href="/site/appDownload.htm"><i class="down"></i>APP下载</a>
            </li>

            <li class="li2">
                <a href="/site/use/login.htm?role=orgOrCou"><i class="sch"></i>学校登录</a>
            </li>

            <li class="li1">
                <i class="service"></i>客户服务<i class="arrow"></i>
                <ul class="pa child3 hide">
                    <li><a href="/site/webBottomLink/toStuIndex.htm">帮助中心</a></li>
                    <li><a href="/site/webBottomLink/tocomplaintsandsuggestions.htm">意见反馈</a></li>
                </ul>
            </li>
            <li class="li3">
                <em><i class="phone"></i>400-010-8383</em>
            </li>
        </ul>
    </div>
</div>
<!-- 顶部结束 -->