@charset "utf-8";
/*
@description: 全局初始化样式
@author:zou
@update: (2016-09-22  15:19:59) 
*/ 
/*首页 鼠标滑动变色*/
.school_mainNav{background:none!important;margin-top:0px!important;}
.school_mainNav .mainNav li:hover{background:none!important}
.school_mainNav .mainNav .ac a,.school_mainNav .mainNav li a:hover{color:white!important;background: #fcb314}
.school_mainNav .mainNav .ac{background:none!important}

/*广告位*/
.main_cont30 .tabCont .tabItem .new_ad{margin-left: 83px; padding-top: 40px;}
.main_cont30 .tabCont .tabItem .new_ad .form_list .row{padding-bottom: 29px;}
.main_cont30 .tabCont .tabItem .new_ad .form_list .formL{min-width: 56px;}
.main_cont30 .tabCont .tabItem .new_ad .form_list .unload_img button{width: 112px; height: 40px; background-color: #4aacf3; margin-right: 20px;}
.main_cont30 .tabCont .tabItem .new_ad .form_list .unload_img button:hover{background-color: #3197e1 !important;}
.main_cont30 .tabCont .tabItem .new_ad .form_list .unload_img i{width: 12px; height: 16px;background: url(../images/ico.f89f4145.png) -160px -520px no-repeat; margin-right: 6px;}
.main_cont30 .tabCont .tabItem .new_ad .form_list .unload_img span{font-size: 14px;color: #999999;}
.unload_ad_img{width: 600px; height: 174px;padding-left: 70px; margin-bottom: 33px;}
.unload_ad_img img{width: 600px; height: 174px; display: block;}
.main_cont30 .tabCont .tabItem .new_ad .put_out{width: 110px; height: 40px; background-color: #76b852; margin-left: 70px; margin-bottom: 70px;}
.main_cont30 .tabCont .tabItem .new_ad .put_out:hover{background-color: #569230 !important;}

/*banner*/
.text_papers p{text-align: center}
.text_papers .bannerWrap{height:480px;width: 630px;}
.text_papers .banner{height:480px;width: 630px;overflow:hidden;position:relative;margin: 0 auto}
.text_papers .banner .prevBtn{width:28px;height:62px;background:url(../images/ico.f89f4145.png) no-repeat -558px 0;position:absolute;top:250px;left:0;margin-top:-31px;opacity: 0;filter:alpha(opacity=0)}
.text_papers .banner .nextBtn{width:28px;height:62px;background:url(../images/ico.f89f4145.png) no-repeat -600px 0;position:absolute;top:250px;left:600px;margin-top:-31px;opacity: 0;filter:alpha(opacity=0)}
.text_papers .banner .bannerList{position:absolute;top:0;left:0;width:100%;height:100%}
.text_papers .banner .bannerList li{position:absolute;top:0;left:0; width: 100%; height: 480px;}
.text_papers .banner .bannerList .bannerlist1{background: url(../images/home_banner1.61c51164.jpg) center no-repeat}
.text_papers .banner .bannerList .bannerlist2{background: url(../images/home_banner2.7fcf220c.jpg) center no-repeat}
.text_papers .banner .bannerList .bannerlist3{background: url(../images/home_banner3.f262d03d.jpg) center no-repeat}
.text_papers .banner .slidernav{position:absolute;bottom:0;left:50%;width:100px;margin-left:-50px;height:24px;line-height:24px;cursor:pointer;}
.text_papers .banner .slidernav_shadow{ top:0; left:0; width:100%; height:100%; background:#000; opacity: 0.5; filter:alpha(opacity=50);border-radius:24px;}
.banner .slidernav .slidernav_ul{height:100%; width:70px; left:50%; margin-left: -35px; overflow: hidden;}
.banner .slidernav .slidernav_ul li{width:10px;height:10px;border:1px solid #fff;margin-left:9px;border-radius:50%; margin-top: 5px; float:left;}
.banner .slidernav .slidernav_ul li.ac{background:#fff}

/*语文、英语tab切换*/
.tab .tabList{height:40px;color:#666;}
.tab .tabList li{float:left;margin:0!important;padding:0!important}
.tab .tabList li a{display: block;height: 40px;line-height: 38px;padding: 0px 20px;border: none;top: 2px;font-weight: bold}
.tab .tabList li .ac{background:none;border-bottom:2px solid #fcb314;color:#fcb314}
.tab .tabList li a:hover{border-bottom:2px solid #fcb314;color:#fcb314}
.tab .tabCont{border:1px solid #E7E7E7}
.tab .tabCont .tabItem{padding:0px;position:relative}
.school_index .tab .tabCont .tabItem{padding:20px;}

/*网站首页*/
input{border:none;outline:none;background-color:transparent}
td{padding:0 0}
.bg{background-image:url(../images/ico.f89f4145.png);background-repeat:no-repeat}
/*banner*/
.homePage .bannerWrap{height:350px;}
.homePage .banner{height:350px;overflow:hidden;position:relative}
.homePage .banner .APPBar{height:350px;width:220px;position:absolute;z-index:1;right:0}
.homePage .banner .APPBar_bg, .homePage .banner .APPBar_cont{width:100%;height:100%;position:absolute;left:0;top:0}
.homePage .banner .APPBar_bg_top{background-color:#676b65;opacity:.8;filter:alpha(opacity=80); height: 100%}
.homePage .banner .APPBar_bg_btm{height:110px;background-color:#3f413e;opacity:.9;filter:alpha(opacity=90)}
.homePage .banner .APPBar_cont_btm .app_icon{padding:26px 20px}
/*暂时需要*/
/*app*/
.banner .APPBar_cont h3{font-size: 16px; line-height: 16px; padding-top: 50px; padding-bottom: 8px;color: #fff;padding-left: 18px;}
.banner .APPBar_cont_top{padding:7px 18px}
.banner .APPBar_cont_top li a{font-size:12px;line-height:24px;color:#fff;display:inline-block}
.banner .APPBar_cont_top li a:hover{color:#bcbfb9!important}
.banner .APPBar_cont_top li i{float:left;width:5px;height:5px;overflow:hidden;background-color:#fff;margin:9px 12px 0 0}
.banner .APPBar_cont_top li span{float: left; width: 162px; position: relative}
.banner .APPBar_cont_top li span strong{position: absolute; right: 0;*top: 24px;font-size:12px;line-height:24px;}
/*暂时需要*/
.homePage .banner .app_icon a{display:block;width:176px;height:54px;border:2px solid #bcbfb9;border-radius:30px;font-size:20px;line-height:54px;color:#fff}
.homePage .banner .app_icon a:hover{color:#bcbfb9!important}
.homePage .banner .app_icon a i{width:20px;height:30px;background:url(../images/ico.f89f4145.png) -640px 0 no-repeat;margin:10px 10px 12px 33px}
.homePage .banner .prevBtn{width:28px;height:62px;background:url(../images/ico.f89f4145.png) no-repeat -558px 0;position:absolute;top:181px;left:240px;margin-top:-31px;opacity: 0;filter:alpha(opacity=0)}
.homePage .banner .nextBtn{width:28px;height:62px;background:url(../images/ico.f89f4145.png) no-repeat -600px 0;position:absolute;top:181px;right:230px;margin-top:-31px;opacity: 0;filter:alpha(opacity=0)}
.homePage .banner .bannerList{position:absolute;top:0;left:0;width:100%;height:100%}
.homePage .banner .bannerList li{position:absolute;top:0;left:0; width: 100%; height: 350px;}
.homePage .banner .bannerList li img{height: 100%}
.homePage .banner .slidernav{position:absolute;bottom:0;left:50%;width:100px;margin-left:-50px;height:24px;line-height:24px;cursor:pointer;}
.homePage .banner .slidernav_shadow{ top:0; left:0; width:100%; height:100%; background:#000; opacity: 0.5; filter:alpha(opacity=50);border-radius:24px;}
.homePage .banner .slidernav .slidernav_ul{height:100%; width:86px; left:50%; margin-left: -46px; overflow: hidden;}
.homePage .banner .slidernav .slidernav_ul li{width:10px;height:10px;border:1px solid #fff;margin-left:9px;border-radius:50%; margin-top: 5px; float:left;}
.homePage .banner .slidernav .slidernav_ul li.ac{background:#fff}
/*焦点图 banner下边ly*/
.homePage .banner_bottom{height:135px}
.homePage .banner_cont{margin-left:214px}
.homePage .banner_item{width:310px;margin-left: 15px;border:1px solid #ffffff}
.homePage .banner_item_img, .homePage .banner_item_img img{width:316px;height:130px;*height: 134px;}
.homePage .banner_item_img img{display:block; background-color: #fffff1;}
.homePage .banner_item_text{width:160px;padding:37px 10px 0 10px}
.homePage .banner_item_text h3{font-size:20px;height:40px;line-height:40px}
.homePage .banner_item_text p{font-size:12px;height:12px;line-height:12px;color:#656565}
.homePage .banner_item_text .color_r1{color:#AA3138}
.homePage .banner_item_text .color_r1:hover{color:#ff8000!important}
.homePage .banner_item_text .color_r2{color:#E62516}
.homePage .banner_item_text .color_r2:hover{color:#ff8000!important}
.homePage .banner_item_text .color_r3{color:#425C75}
.homePage .banner_item_text .color_r3:hover{color:#ff8000!important}
.tabItem img {display: block;background-color: #fffff1;}
/*今日推荐     slg*/
.homePage .hotClasses{margin-top: 20px !important}
.homePage .todyRecommend{margin-top:46px; min-height: 540px}
.homePage .todyRecommend .tody_l{margin-right:0}
/*.homePage .todyRecommend .tody_l h2,.oneTone h2{color: #666;font-size: 22px}*/
.homePage .todyRecommend .tody_l img,.homePage .hotClasses .tody_l img{margin-top:18px;padding-bottom:23px}
.homePage .todyRecommend .tody_r{margin-left:20px}
.homePage .todyRecommend .tody_r ul{margin-left:60px}
/*.homePage .todyRecommend .tody_r ul .ac{border-bottom:2px solid #ff8000 !important;color:#ff8000}*/
/*.tab .tabList li .ac{color:#ff8000!important}*/
.homePage .todyRecommend .tody_r ul li{float:left;line-height:39px;padding-right:85px;position: relative;bottom: -2px;}
.homePage .more{line-height:39px;right:0px;top:0px;position:absolute;color:#ff8000}
.homePage .more em{font-family: '\5B8B\4F53';font-weight: bold;}
.homePage .todyRecommend .tody_r hr{border:1px solid #eee!important;width:958px;margin-left:-20px;margin-bottom:20px;*margin-top:-8px}
.homePage .todyRecommend .tody_r dl{float:left;width:240px;height:226px;padding:13px 20px 0px;margin-left:33px;}
.homePage .todyRecommend .tody_r dl dd{margin-top:10px}
.homePage .todyRecommend .tody_r dl dd span{color: #787d82;}
.homePage .todyRecommend .tody_r dl h5 a{display: inline-block;width: 240px;font-weight:bold;color: #14191e;overflow: hidden;white-space: nowrap;text-overflow: ellipsis}
.homePage .todyRecommend .tody_r dl h5 a:hover,.homePage .oneTone dl h5 a:hover{color: #FF8000;}
.homePage .todyRecommend .tody_r dl:hover{background:white;box-shadow:0 0 10px #ccc }
.homePage .tab .tabCont .tabItem {padding:0}
.homePage .tab .tabList li a {padding:0 40px;}
/*热门课程*/
.homePage .hotClasses dl,.homePage .todyRecommend dl{position:relative}
/*一对一*/
.homePage .oneTones hr{border:1px solid #eee!important; margin-top:10px;margin-bottom:20px}
.homePage .oneTones .oneToneMains{margin-left: -20px;}
.homePage .oneTones dl{float:left;width:240px;height:205px;padding:20px 20px;position:relative;margin-left: 25px;*margin-left: 20px;}
.homePage .oneTones dl:hover{height:205px;background:white;box-shadow:0 0 10px #ccc }
.homePage .oneTones dl dd span{color: #787d82;}
.homePage .oneTones dl h5 a{margin-top:10px;display: inline-block;width: 240px;font-weight:bold;color: #14191e;overflow: hidden;white-space: nowrap;text-overflow: ellipsis}
.homePage .oneTones dd i{width:60px;height:60px;background:url(../images/ico.f89f4145.png) -440px -40px no-repeat;display:inline-block;position:absolute;bottom:65px;right:40px}
.homePage .oneTones dd i:hover{width:65px;height:65px;background:url(../images/ico.f89f4145.png) -440px -360px}
/*最新评论 ly*/
.homePage .newest_discuss_top{padding-top:17px;border-bottom:2px solid #eee}
.homePage .newest_discuss_top h3{font-size:22px;height:50px;line-height:50px;color:#575757}
.homePage .dialogCont{width:780px}
/*入驻机构 ly*/
.homePage .enter_organization .organization_join:after{content: "";zoom:1;display: block;clear: both;zoom:1;border-bottom:2px solid #EEEEEE;}
.homePage .enter_organization .organization_join h3{font-size:22px;height:44px;line-height:44px;color:#575757;float: left;}
.homePage .enter_organization .organization_join a{float: right;font-size: 14px;color: #ff8000;line-height: 44px}
.homePage .organization_banner_wrap .prev, .homePage .organization_banner_wrap .next{display:inline-block;width:36px;height:36px;background-color:#ccc}
.homePage .organization_banner_wrap .prev:hover, .homePage .organization_banner_wrap .next:hover{background-color:#fcb414}
.homePage .enter_organization .organization_join a {float: right;font-size: 14px; color: #ff8000;line-height: 44px;}
.homePage .organization_banner_wrap .prev{left:12px;top:65px;background-position:-467px 9px}
.homePage .organization_banner_wrap .next{right:12px;top:65px;background-position:-507px 9px}
.homePage .organization_banner{width:998px;margin:0 auto;overflow:hidden;height:164px}
.homePage .organization_banner_list{position:absolute;left:0px;top:0;width:40000px}
.homePage .organization_banner_list li{float:left}
.homePage .organization_banner_list li{width:170px;height:146px}
.homePage .organization_banner_list li a{display: inline-block;width:140px;height:140px}
.homePage .organization_banner_list img{display:block;width: 140px;height: 115px;padding: 22px 10px}
.homePage .enter_organization hr{border-top:none;}
.homePage .all_comment .newest_discuss_top a{right: 0;top: 35px;color: #ff8000}
.homePage .comment{margin:28px 0 28px 0;*margin-top:20px;*margin-bottom:20px;height: 190px;overflow: hidden}
.homePage .comment li{width: 390px;height: 190px;background: #f5f5f5;float: left;margin-right: 15px}
.homePage .comment li p{width: 210px;padding: 8px 15px;font-size: 12px;float: left;text-indent: 24px;}
.homePage .comment li div{background: #fcb314;width: 150px;height: 190px;text-align: center;color: white}
.homePage .comment li div i{position: absolute;width:0;height:0;border-top:10px solid transparent;border-bottom: 10px solid transparent;border-left: 10px solid #f5f5f5;left: 0;top: 45px;}
.homePage .comment li div img{width: 80px;height: 80px;border-radius: 50%;margin-top: 30px}
.homePage .comment li div span{font-size: 12px;}
.all_comment .comment li .title_left{width: 240px;background: #666;float: left;}
.homePage .comment li p{width: 210px;padding: 2px 15px 8px 15px;font-size: 12px;text-indent: 24px;height: 150px;color: #666}
.homePage .comment li .title_left{background:#f5f5f5;text-align: left;}
.homePage .comment li .title_left span{font-size: 14px;color: #1b1b1b;line-height: 36px;border-bottom: 1px solid #b5b5b5;width: 210px;display: inline-block;margin-left: 15px}
/*点我  右侧客服问题**/
.hands_up{width: 190px;height: 250px;background: url(../images/handsup.6fc9ef6b.png) no-repeat;background-size: 100%;position: fixed;bottom: 112px;right: 6%;z-index: 100;cursor: pointer}
.cht_dialog_box{background: #fff;border-radius: 10px;/*position: relative;*/}
.cht_dialog_box .ui-widget-header{height: 80px;overflow: hidden;line-height: 80px;background: transparent !important;color: #333 !important;font-size: 18px;border-bottom: none}
.cht_dialog_box .ui-widget-content{background: transparent !important}
.cht_dialog_box .ui-dialog-content{padding: 0 20px !important}
.cht_dialog_box .ui-dialog-buttonpane{padding-top: 0 !important}
.cht_dialog_box .ui-button{background: transparent !important;margin: 31px 22px 0 0 !important}
.cht_dialog_box .ui-button:hover{background: transparent !important}
.cht_dialog_box .ui-dialog-title{padding-left: 18px;color: #444}
.cht_dialog_box .w80{color: #333}
.cht_dialog_box .headsup{width: 282px;height: 311px;background: url(../images/handsup1.11b4f64e.png) no-repeat;position: absolute;top: -155px;right: 40px}
.cht_dialog_box .select_plus{margin-right: 2px}
.cht_dialog_box .popCont{padding-top: 0 !important}
.cht_dialog_box .popbox_item{padding: 0 !important}
.cht_dialog_box .ui-button-icon-only .ui-icon{display: inline-block;top: 0;margin: 0;width: 22px;height: 22px;padding: 0;background: url(../images/ico.f89f4145.png) no-repeat -360px -560px !important}
.cht_dialog_box .error_message_phone em.error{left: 200px}
.cht_dialog_box .ui-dialog-buttonpane{display: none}

/*弹窗按钮*/
.ui-dialog .ui-dialog-buttonpane {border-top: 0 none !important;padding: 30px 0 !important;}
.ui-dialog .determineBtn { background: #35cafb !important;}
.ui-dialog .determineBtn:hover{background: #00bbf9 !important}
.ui-dialog .cancelBtn {background: #ccc!important;}
.ui-dialog .cancelBtn:hover{background: #bbbaba!important}
/*网站结束*/

/*验证*/
.error_message_prov em{left:592px!important;top:38px!important}
.error_message_trainingCourse em{left:579px!important;top: 25px !important;}
.error_message_trainingCourseType em{left:524px!important;top: 25px !important;}
.error_message_detailAddress em{top: 37px!important;left: 539px!important;}
.error_message_email em{top:5px !important;right:127px!important }

